body {
    font-family: 'Montserrat', sans-serif;
}

img.amanda-max {
    border-radius: 50%;
    height: auto;
    width: 30rem;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    color: #edf5e1;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

#navbar-title {
    color: #05386b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#title {
    background-color: #5cdb95;
}