/* Body */

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

div.row {
    margin-left: 0;
    margin-right: 0;
}

img.amanda-max {
    border-radius: 50%;
    height: auto;
    width: 60%;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    color: #002E00;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

h2.services {
    color: #002E00;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 4rem;
}

hr {
    border-color: #029c05;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    margin: 4em auto 4em auto;
    width: 150px;
  }

div.hr {
    margin-top: 2% auto 0 auto;
}

#navbar-title {
    color: #002E00;
    font-family: 'Montserrat', sans-serif;
}

#navbar-title:hover {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #029c05;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    color: #002E00;
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 600;
}

.navbar-brand:hover {
    color: white;
    font-family: 'Ubuntu';
    font-weight: 600;
}

.nav-item {
    padding: 0 18px;
}

.nav-item-1 {
    padding: 0 18px;
}

.nav-link {
    font-weight: 400;
    font-size: 1.2rem;
}

/* Description */

.col-lg-6 {
    padding-left: 0;
    padding-right: 0;
}


/* Buttons */

button {
    color: #edf5e1;
    margin: 2% 3% 5% 0;
}


/* About */

#about {
    margin-top: 3%;
}

#about2 {
    padding-bottom: 1%;
}

h2.quote {
    color: #029c05;
}

#quote {
    padding-top: 1%;
    font-weight: 500;
}


/* Services */

i:hover {
    color: #029c05;
}

p.services {
    color: #8c8c8c
}



/* Contact */

form {
    margin-top: 3%;
}